version: "2.1"

services:
  ollama:
    container_name: ollama-service
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "11434:11434"
    environment:
      - MODEL=${MODEL}
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - ollama-network

  open-webui:
    container_name: open-webui
    image: ghcr.io/open-webui/open-webui:main
    ports:
      - "3000:8080"
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
    volumes:
      - webui_data:/app/backend/data
    depends_on:
      - ollama
    networks:
      - ollama-network

volumes:
  ollama_data:
  webui_data:

networks:
  ollama-network:
    driver: bridge
